.tasks {
    margin: 0;
    padding: 0;
    list-style: none;
}

.tasks__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    align-items: center;
    word-break: break-word;
}

.tasks__item--hidden {
    display: none;
}

.tasks__button {
    border: none;
    color: white;
    width: 30px;
    height: 30px;
    padding: 0;
    transition: background-color 0.3s;
}

.tasks__button--toggleDone {
    background-color: hsl(120, 61%, 34%);
}

.tasks__button--toggleDone:hover {
    background-color: hsl(120, 61%, 39%);
}

.tasks__button--toggleDone:active {
    background-color: hsl(120, 61%, 44%);
}

.tasks__content--done {
    text-decoration: line-through;
}

.tasks__button--remove {
    background-color: hsl(348, 83%, 47%);
}

.tasks__button--remove:hover {
    background-color: hsl(348, 83%, 52%);
}

.tasks__button--remove:active {
    background-color: hsl(348, 83%, 57%);
}